.Rbutton{
    position: absolute; /* Вырываем кнопку из потока */
    right: 0;
    top: 0;
    background: none;
    border: none;
    padding: 0;
    background: url('../../assets/questbut.svg') no-repeat center;
    background-size: 100%; /* Ширина × Высота */
    width: 3.7em; /* Размер самой кнопки */
    height: 3.7em;
    margin: 0.4em;
    z-index: 1; 
}
.Bblock{
     position: 'relative'
}