.win-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    width: 40vw;
    height: 85%;
    border-radius: 10px;
    border: 2px solid;
}
  
.wintext {
    padding: 1%;
    border-bottom: 1px solid;
    text-align: center;
    height: 10%;
}

.win-content{
    padding: 3%;
    height: 80%;
}

.win-exit {
    border-top: 1px solid;
    padding: 1.5%;
    height: 10%;
    gap: 10em;
}
.win-exit > button {
    width: 48%;
    margin-left: 1%;
    height: 100%;
}
